.git
.expo
.gradle
.kotlin
.vscode
artifacts
dist
node_modules
tasks
test-result

/android

stable-diffusion/android/.cxx
stable-diffusion/android/build
stable-diffusion/build
stable-diffusion/node_modules

*.apk
*.aab
*.keystore
*.jks
*.log
*.tsbuildinfo
