.git
.claude
.expo
.gradle
.kotlin
.vscode
artifacts
dist
node_modules
tasks
test-result

android/.cxx
android/.gradle
android/app/.cxx
android/app/build
android/build

stable-diffusion/android/.cxx
stable-diffusion/android/build
stable-diffusion/build
stable-diffusion/node_modules

*.apk
*.aab
*.log
*.tsbuildinfo
